<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>프로필 카드 2</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<script src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body class="member2">
	<section class="wrap">
		<nav class="menu">
			<a href="#" class="button_link">
				<i class="fas fa-bars"></i>
			</a>
			<a href="#" class="button_link">
				<i class="far fa-sticky-note"></i>
			</a>
		</nav>
		<article class="profile">
			<img class="image_profile" src="img/member2.jpg" alt="프로필 이미지">
			<h1>DECODELAB</h1>
			<h2>UI/UX INTERTACTIVE DEVELROPER</h2>
			<a href="#" class="button_view">VIEW MORE</a>
		</article>
		<ul class="concat">
			<li class="sns facebook">
				<i class="fab fa-facebook-f concat_icon"></i>
				<span class="concat_text">Visit My Facebook page.</span>
			</li>
			<li class="sns email">
				<i class="fas fa-envelope concat_icon"></i>
				<span class="concat_text">hadaboni80@naver.com</span>
			</li>
		</ul>
		<nav class="others">
			<a href="member1.html" class="others_link"></a>
			<a href="member2.html" class="others_link on"></a>
			<a href="member3.html" class="others_link"></a>
			<a href="member4.html" class="others_link"></a>
		</nav>
	</section>
</body>
</html>